/venv*
error_logs
admin_logs
.env
*.pyc
**/*.pyc
*.pkl
**/*.pkl
28_logs
*.txt*
*.zip
auto_assigner/
error_file
ipv_logs
error_logs
digiremit/
*.json
dicttoxml-1.7.4.dist-info/
dicttoxml.py
xmltodict-0.12.0.dist-info/
xmltodict.py
.DS_Store
fncall
pkey.pem
*.csv
*.tar.gz
*.out
dummy_certs/
env/
*.jpg
pgreq
pgres
pgerr
_pycache_/
